<div class="section-home" ng-controller="HomeCtrl">
	<div class="subsection-upload">
		<div class="upload-dropbox"
			ngf-drop
			ngf-drag-over-class="dragover"
			ng-model="uploadedFiles"
			ng-model-rejected="rejectedFiles"
			ngf-change="fileDropped($files, $event, $rejectedFiles)"
			ngf-multiple="false"
			ngf-accept="'.apk,.ipa'"
			ngf-allow-dir="true"
			ngf-drag-over-class="{accept:'upload-accepted', reject:'upload-rejected', delay:100}"
			ngf-drop-available="dropSupported"
			ngf-stop-propagation="true"
			ngf-hide-on-drop-not-available="false"
		>
			<div class="logo logo-ios">
				<img src="images/upload/ios-grey.png">
			</div>
			<div class="logo logo-android">
				<img src="images/upload/android-grey.png">
			</div>
		</div>
	</div>
	
	<div class="subsection-list">
		<div class="title-subsection">
			LATEST PROJECT
		</div>

		<ul masonry="true">
			<li class="animate-cell" ng-repeat="project in projects | filter : {title : titleFilter}" ng-controller="ProjectCellCtrl" ng-init="projectId = project.id">
				<div ng-include="'views/home/project-cell.html'">
				</div>
			</li>
		</ul>
	</div>
</div>