<div class="project-cell">
	<div class="row-client">
		{{ project.client | uppercase }}
	</div>
	<div class="row-title">
		{{ project.title | uppercase }}

		<span class="cell-arrow" ng-click="toggleExpansion($event);" ng-class="{true: 'dropup-arrow', false: 'dropdown-arrow'}[projectId == expandedProject.id]">
		</span>
	</div>
	<div class="row-platform">
		<div class="row" ng-if="Utils.keys(project.release).length == 2">
			<div class="col-xs-6 ios-half left-half" 
				ng-really-click="downloadRedirect(project.release.ios[0].link)" 
				ng-really-message="You are trying to download {{ project.title }} v{{ project.release.ios[0].version }} for iOS."
			>
				<div class="version-number">
					v{{ project.release.ios[0].version }}
				</div>
				<div class="logo logo-ios">
					<img src="images/upload/ios.png">
				</div>
			</div>

			<div class="col-xs-6 android-half right-half"
				ng-really-click="downloadRedirect(project.release.android[0].link)" 
				ng-really-message="You are trying to download {{ project.title }} v{{ project.release.android[0].version }} for Android."
			>
				<div class="version-number">
					v{{ project.release.android[0].version }}
				</div>
				<div class="logo logo-android">
					<img src="images/upload/android.png">
				</div>
			</div>
		</div>
		<div class="row" ng-if="Utils.keys(project.release).length == 1">
			<div class="col-xs-12 full-cell"
				ng-if="getPlatform(project) == 'ios'"
				ng-really-click="downloadRedirect(project.release.ios[0].link)" 
				ng-really-message="You are trying to download {{ project.title }} v{{ project.release.ios[0].version }} for iOS."
			>
				<div class="version-number">
					v{{ project.release.ios[0].version }}
				</div>
				<div class="logo logo-ios">
					<img ng-src="images/upload/ios.png">
				</div>
			</div>

			<div class="col-xs-12 full-cell"
				ng-if="getPlatform(project) == 'android'"
				ng-really-click="downloadRedirect(project.release.android[0].link)" 
				ng-really-message="You are trying to download {{ project.title }} v{{ project.release.android[0].version }} for Android."
			>
				<div class="version-number">
					v{{ project.release.android[0].version }}
				</div>
				<div class="logo logo-ios">
					<img ng-src="images/upload/ios.png">
				</div>
			</div>
		</div>
		<perfect-scrollbar class="releases scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" ng-show="showReleases">
			<div class="row">
				<div class="col-xs-6 ios-list left-half">
					<div class="row">
						<div ng-repeat="release in project.release.ios" class="col-xs-12 ios-half">
							<div class="version-number">
								v{{release.version}}
							</div>
							<div class="logo logo-ios">
								<img src="images/upload/ios.png">
							</div>
						</div>
						
					</div>
				</div>

				<div class="col-xs-6 android-list right-half">
					<div class="row">
						<div ng-repeat="release in project.release.android" class="col-xs-12 android-half">
							<div class="version-number">
								v{{release.version}}
							</div>
							<div class="logo logo-android">
								<img src="images/upload/android.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</perfect-scrollbar>
	</div>
	
</div>