@import "upload";
@import "list";

.masonry, .masonry li { /* apply before masonry add class */
	position: absolute; /* important to add it before enter animation start */
 
}

.masonry li {
	display: inline-block;
	width: 33.333%;
	height: 134px;
	padding: 5px;
}

.masonry {
	padding: 0px !important;
}

.collapse-cell {
	height: 134px;
}

.expanded-cell {
	height: 258px !important;
	margin-bottom: 10px;

	.project-cell {
		min-height: 258px;
		z-index: 2;
		position: relative;
		padding-bottom: 0px;
	}
}

.animate-cell {
	-webkit-transition: height 0.15s; 
	-moz-transition: height 0.15s; 
	-ms-transition: height 0.15s; 
	-o-transition: height 0.15s; 
	transition: height 0.15s;  
}