@import "../constant";

.subsection-list {
	margin-top: 10px;

	.title-subsection {
		font-weight: 600;
	}

	.project-cell {
		$image-width: 46px;
		$image-border-width: 1px;
		-webkit-transition: min-height 0.15s; 
		-moz-transition: min-height 0.15s; 
		-ms-transition: min-height 0.15s; 
		-o-transition: min-height 0.15s; 
		transition: min-height 0.15s;  

		background-color: $project-cell-color;
		margin-bottom: 25px;
		padding: 13px;
		color: white;
		line-height: 155%;
		min-height: 124px;

		.cell-arrow {
			width: 0; 
			height: 0; 
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			float: right;
			margin-top: -15px;
			cursor: pointer;

			transition: border-width 0.5s ease-in-out;

			&:focus {
				outline: none;
			}
		}

		.dropdown-arrow {
			border-top: 15px solid white;

			&:hover {
				border-top: 15px solid $body-color;
			}
		}

		.dropup-arrow {
			border-bottom: 15px solid white;

			&:hover {
				border-bottom: 15px solid $body-color;
			}
		}

		.row-title {
			font-size: 24px;
			font-weight: 100;
		}

		.row-platform {
			$logo-distance: 12px;
			.logo {
				margin-top: 10px;

				img {
					height: $image-width;
					border: $image-border-width solid;
					border-radius: 5px;
				}
			}

			.logo-ios {
				img {
					padding: 10px 13px;
	  			}
			}

			.logo-android {
				img {
					padding: 10px 11px;
				}
			}

			.left-half {
				padding-right: calc(#{$logo-distance} / 2);

				.version-number {
					float: left;
				}

				img {
					float: right;
				}
			}

			.right-half {
				padding-left: calc(#{$logo-distance} / 2);

				.version-number {
					float: right;	
				}

				img {
					float: left;
				}
			}

			.full-cell {
				text-align: center;

				.version-number {
					float: left;
				}

				img {
					margin-left: calc((-#{$image-width} - #{$container-padding}) / 2 - 2 * #{$image-border-width});
				}
			}

			.scroller {
				.ps-scrollbar-x-rail {
					display: none;
				}
			}

			.download-cell {
				&:focus {
					outline: none;
				}
			}

			.releases {
				height: 131px;
				margin-right: -13px;
				padding-right: 16px;
				margin-left: -13px;
				padding-left: 13px;
				margin-top: 13px;
				background-color: #494949;

				$logo-distance: 12px;
				$image-width: 24px;
				.logo {
					margin-top: 10px;

					img {
						height: $image-width;
						border: $image-border-width solid;
						border-radius: 5px;
					}
				}

				.logo-ios {
					img {
						padding: 6px 7px;
		  			}
				}

				.logo-android {
					img {
						padding: 5.5px 6px;
					}
				}

				.version-number {
					margin-top: 11px;
				}

				.left-half {
					padding-right: calc(#{$logo-distance} / 2);

					.version-number {
						float: left;
					}

					img {
						float: right;
					}
				}

				.right-half {
					padding-left: calc(#{$logo-distance} / 2);

					.version-number {
						float: right;	
					}

					img {
						float: left;
					}
				}

				.full-cell {
					text-align: center;

					.version-number {
						float: left;
					}

					img {
						margin-left: calc((-#{$image-width} - #{$container-padding}) / 2 - 2 * #{$image-border-width});
					}
				}
			}

			.ios-half, .android-half, .full-cell {
				cursor: pointer;

				img {
					-webkit-filter: brightness(100%);
				}

				&:hover {
					.version-number {
						color: #909090;
					}

					img {
						-webkit-filter: brightness(60%);
					}
				}
			}
		}
	}
}