$container-padding:		15px;
$common-border-radius:	10px;
$body-color:			#D7D7D7;

$header-height:			80px;
$header-color:			#EBEBEB;

$side-menu-width:		180px;
$side-menu-color:		#464646;

$logo-height:			$header-height;
$logo-width:			$side-menu-width;

$upload-button-color:	#909090;

$search-padding:		80px;