@import "header";
@import "logo";
@import "side-menu";
@import "search";

* {
	font-family: 'Roboto', sans-serif !important;
}

body {
	background-color: $body-color;
	margin-top: $header-height + $container-padding;
	
	.main:not(.no-sidebar) {
		padding-left: $side-menu-width + $container-padding;
	}

	.scroller {
		overflow-y: hidden;
		position: relative;
	}
}

@media (min-width: 1200px) {
	.main {
		width: calc(1200px - 2 * #{$container-padding});
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-width: 1200px) {
	.main {
		width: calc(100% - #{$container-padding});
	}
}