<!-- unused -->
<div class="container section-upload">
	<div class="subsection-adds">
		<div class="row">
			<div class="col-md-6">
				<button class="button-add">
					<object type="image/svg+xml" data="images/upload/add-button.svg"></object><span>ADD NEW PROJECT</span>
				</button>
			</div>

			<div class="col-md-6">
				<button class="button-add">
					<object type="image/svg+xml" data="images/upload/add-button.svg"></object><span>ADD NEW CLIENT</span>
				</button>
			</div>
		</div>
	</div>

	<div style="font-size:248px">
		Hey, <span style="color: red">T</span>angerine!
	</div>
</div>