@import "upload";
@import "list";

.masonry, .masonry li { /* apply before masonry add class */
	position: absolute; /* important to add it before enter animation start */
 
}

.masonry li {
	display: inline-block;
	width: 33.333%;
	height: 134px;
	padding: 5px;
}

.masonry {
	padding: 0px !important;
}

.collapse-cell {
	height: 134px;
}

.expanded-cell {
	height: 230px !important;
}

.animate-cell {
	-webkit-transition: height 1s; 
	-moz-transition: height 1s; 
	-ms-transition: height 1s; 
	-o-transition: height 1s; 
	transition: height 1s;  
}