<ng-include src="'views/project/base.html'">
</ng-include>

<div class="main no-sidebar">
	<div class="section-project" ng-controller="HomeCtrl">
		<div class="subsection-list">
			<ul>
				<li class="animate-cell" 
					ng-repeat="project in projects | filter : {title : titleFilter}" 
					ng-controller="ProjectCellCtrl" 
					ng-init="projectId = project.id; projectTitle = project.title;"
				>
					<div ng-include="'views/home/project-cell.html'">
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>