<div class="project-cell">
	<div class="row-client">
		{{ project.client | uppercase }}
	</div>
	<div class="row-title">
		{{ project.title | uppercase }}

		<span class="cell-arrow" ng-click="toggleExpansion($event);" ng-class="{true: 'dropup-arrow', false: 'dropdown-arrow'}[projectId == expandedProject.id]">
		</span>
	</div>
	<div class="row-platform">
		<div class="row" ng-if="Utils.keys(project.release).length == 2">
			<div class="col-xs-6 ios-half left-half">
				<div class="version-number">
					v1.23
				</div>
				<div class="logo logo-ios">
					<img src="images/upload/ios.png">
				</div>
			</div>

			<div class="col-xs-6 android-half right-half">
				<div class="version-number">
					v3.21
				</div>
				<div class="logo logo-android">
					<img src="images/upload/android.png">
				</div>
			</div>
		</div>
		<div class="row" ng-if="Utils.keys(project.release).length == 1">
			<div class="col-xs-12 full-cell">
				<div class="version-number">
					v3.21
				</div>
				<div class="logo" ng-class="{ios: 'logo-ios', android: 'logo-android'}[getPlatform(project)]">
					<img ng-src="images/upload/{{getPlatform(project)}}.png">
				</div>
			</div>
		</div>
		<perfect-scrollbar class="releases scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" ng-show="showReleases">
			<div class="row">
				<div class="col-xs-6 ios-list left-half">
					<div class="row">
						<div ng-repeat="release in project.release.ios" class="col-xs-12">
							<div class="version-number">
								{{release.version}}
							</div>
							<div class="logo logo-ios">
								<img src="images/upload/ios.png">
							</div>
						</div>
						
					</div>
				</div>

				<div class="col-xs-6 android-list right-half">
					<div class="row">
						<div ng-repeat="release in project.release.android" class="col-xs-12">
							<div class="version-number">
								{{release.version}}
							</div>
							<div class="logo logo-android">
								<img src="images/upload/android.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</perfect-scrollbar>
	</div>
	
</div>